<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
        <add key="udpIp" value="127.0.0.1" />
        <add key="udpPort" value="1514" />
        <add key="tcpIp" value="127.0.0.1" />
        <add key="tcpPort" value="1514" />
        <add key="MessagesFromFileLogLevel" value="Info" />
        <add key="MessagesFromFileFilePath" value="./messagesToLog.txt" />
    </appSettings>
</configuration>