<?xml version="1.0" encoding="utf-8"?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="https://github.com/luigiberrettini/NLog.Targets.Syslog/tree/master/src/schemas/NLog.Targets.Syslog.xsd">
  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>
  <variable name="enterpriseId" value="12345"/>
  <variable name="sequenceId" value="1"/>
  <targets>
    <target xsi:type="File" name="file-tgt">
      <layout xsi:type="SimpleLayout" text="${longdate} ${level} ${message}" />
      <encoding>utf-8</encoding>
      <createDirs>true</createDirs>
      <fileName xsi:type="SimpleLayout">
        <text>${basedir}/log.txt</text>
      </fileName>
    </target>
    <target xsi:type="syslog:Syslog" name="syslog3164-tgt">
      <syslog:sysLogServer>127.0.0.1</syslog:sysLogServer>
      <syslog:port>1514</syslog:port>
      <syslog:protocol>TCP</syslog:protocol>
      <syslog:ssl>false</syslog:ssl>
      <syslog:splitNewlines>false</syslog:splitNewlines>
      <syslog:facility>Local4</syslog:facility>
      <syslog:layout xsi:type="SimpleLayout" text="${message} ${exception:format=ToString,StackTrace}" />
      <syslog:messageBuilder>
        <syslog:rfc>Rfc3164</syslog:rfc>
        <syslog:rfc3164 hostname="myHost" tag="myTag" />
      </syslog:messageBuilder>
    </target>
    <target xsi:type="syslog:Syslog" name="syslog5424-tgt">
      <syslog:sysLogServer>127.0.0.1</syslog:sysLogServer>
      <syslog:port>1514</syslog:port>
      <syslog:protocol>UDP</syslog:protocol>
      <syslog:ssl>false</syslog:ssl>
      <syslog:splitNewlines>false</syslog:splitNewlines>
      <syslog:facility>Local4</syslog:facility>
      <syslog:layout xsi:type="SimpleLayout" text="${message} ${exception:format=ToString,StackTrace}" />
      <syslog:messageBuilder>
        <syslog:rfc>Rfc5424</syslog:rfc>
        <syslog:rfc3164 hostname="notUsedHostname" tag="notUsedTag" />
        <syslog:rfc5424 protocolVersion="1" hostname="${machinename}" appName="${logger}" procId="${processid}" msgId="testMsgId">
          <syslog:structuredData>
            <syslog:sdElement sdId="thread@${enterpriseId}">
              <syslog:sdParam name="id" value="${threadid}" />
              <syslog:sdParam name="myParam" value="myValue" />
            </syslog:sdElement>
            <syslog:sdElement sdId="timeQuality">
              <syslog:sdParam name="tzKnown" value="1" />
              <syslog:sdParam name="isSynced" value="1" />
              <syslog:sdParam name="syncAccuracy" value="60000000" />
            </syslog:sdElement>
            <syslog:sdElement sdId="origin">
              <syslog:sdParam name="ip" value="10.10.10.1" />
              <syslog:sdParam name="ip" value="192.0.2.1" />
              <syslog:sdParam name="enterpriseId" value="${enterpriseId}" />
              <syslog:sdParam name="software" value="MyAmazingSw" />
              <syslog:sdParam name="swVersion" value="3.5" />
            </syslog:sdElement>
            <syslog:sdElement sdId="meta">
              <syslog:sdParam name="sequenceId" value="${sequenceId}" />
              <syslog:sdParam name="sysUpTime" value="30200" />
              <syslog:sdParam name="language" value="en-US" />
            </syslog:sdElement>
          </syslog:structuredData>
        </syslog:rfc5424>
      </syslog:messageBuilder>
    </target>
    <target xsi:type="syslog:Syslog" name="syslogcee-tgt">
      <syslog:sysLogServer>127.0.0.1</syslog:sysLogServer>
      <syslog:port>1514</syslog:port>
      <syslog:protocol>UDP</syslog:protocol>
      <syslog:ssl>false</syslog:ssl>
      <syslog:splitNewlines>false</syslog:splitNewlines>
      <syslog:facility>Local4</syslog:facility>
      <syslog:layout xsi:type="SimpleLayout" text="@cee: {&quot;message&quot;: &quot;${message}&quot;}" />
      <syslog:messageBuilder>
        <syslog:rfc>Rfc5424</syslog:rfc>
        <syslog:rfc3164 hostname="notUsedHostname" tag="notUsedTag" />
        <syslog:rfc5424 protocolVersion="1" hostname="${machinename}" appName="DAEMON.MyAppName.${logger}" procId="${processid}" msgId="" />
      </syslog:messageBuilder>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="file-tgt" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="syslog3164-tgt" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="syslog5424-tgt" />
    <logger name="*" minlevel="Warn" writeTo="syslogcee-tgt" />
  </rules>
</nlog>