<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>

  <variable name="enterpriseId" value="12345"/>

  <targets>
    <target
      name="syslog"
      type="Syslog"
      syslogserver="127.0.0.1"
      port="514"
      facility="Local7"
      sender="MyProgram"
      layout="[CustomPrefix] ${machinename} ${message} ${callsite} ${exception:format=ToString,StackTrace}" />

    <target type="AsyncWrapper" name="async">
      <target
        name="syslog-new"
        type="Syslog"
        syslogserver="127.0.0.1"
        port="514"
        facility="Local7"
        rfc="Rfc5424"
        hostname="${machinename}"
        sender="${logger}"
        procid="${processid}"
        msgid="testmsgid"
        structureddata="[thread@${enterpriseId} id=&quot;${threadid}&quot;]"
        layout="${message} ${exception:format=ToString,StackTrace}" />
      </target>
  </targets>

  <rules>
    <!--<logger name="*" minLevel="Trace" appendTo="syslog"/>-->
    <!--<logger name="*" minLevel="Trace" appendTo="syslog-new"/>-->
    <logger name="*" minLevel="Trace" appendTo="async"/>
  </rules>

</nlog>
